/* .bglivro {
    background-image: url("./images/bg_livro.jpg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
} */