.carousel {
    height: 100%;
    width: 100%;
    background-color: #343a40!important;
    position: absolute;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-book {
    height: 500px;
    margin-top: 7%;
    display: flex;
    padding: 10px;
}


.image-slide{
    height: 300px;
    width: 250px;
    margin: 20px;
    margin-left: 20%;
    margin-right: 10%;
    background-color: black;
} 