.main-navbar{
    position: relative;
    width: 100%;
    z-index: 150;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
    font-family: "Bebas";
}

@font-face {
    font-family: "Bebas";
    src: url("../../images/Bebas-Regular.otf");
    src: 
    url("../../images/Bebas-Regular.ttf") format("truetype"),
    url("../../images/Bebas-Regular.otf") format("opentype"),
}
    
    