.bookpage {
    height: 100%;
    width: 800px;
    padding: 10px;
    top:0;
    bottom: 0;
    left: 25%;
    right: 10%;
    position: absolute;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: inline-block;
}

.card {
    margin-top: 0;
    position: absolute;
}
    
.img-card{
    height: 300px;
    width: 250px;
    margin-left: 32%;
    margin-top: 20px;
}

/* .cardbook {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    
    padding: 0;
    margin: 0;
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.048);
} */